body{
    background:#0f0f0f;
    color:white;
    font-family:Arial;
    text-align:center;
    margin:0;
    padding:0;
}

.container{
    margin-top:50px;
}

.logo{
    width:120px;
    border-radius:50%;
}

button{
    width:220px;
    padding:15px;
    margin:10px;
    border:none;
    border-radius:15px;
    background:#ffe600;
    color:black;
    font-size:18px;
    font-weight:bold;
}